<center>
<table>
  <tbody>
    <h3>Listing Fighters</h3>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><%= fighter.id %></td>  
        <td><%= image_tag(fighter.picture_url, :width => 50) if fighter.picture.present? %></td>
        <td><%= fighter.first_name %></td>
        <td><%= fighter.last_name %></td>  
        <td><%= link_to 'Show', fighter %></td>
        <td><%= link_to 'Edit', edit_fighter_path(fighter) %></td>
        <td><%= link_to 'Destroy', fighter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new fighter', new_fighter_path %>
<br>
<%= link_to 'Back', '/' %>
</center>