<center>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@fighter.picture_url, :width => 200) if @fighter.picture.present? %>
</p>

<p>
  <strong>First name:</strong>
  <%= @fighter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fighter.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fighter.description %>
</p>

<p>
  <strong>Experience points:</strong>
  <%= @fighter.exp_points %>
</p>

<p>
  <strong>Fighting power:</strong>
  <%= @fighter.fighting_power %>
</p>

<p>
  <strong>Fighter's skills:</strong>
</p>
<table>
  <tbody>
    <% @fighter.skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.level %></td>
        <td><%= link_to '  Destroy', fighter_skill_path(skill.fighter_id, skill.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add skill', new_fighter_skill_path(@fighter) %>

<li style="padding-bottom: 5px"></li>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
</center>
