<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @skill.level %>
</p>

<%= link_to 'Edit', edit_fighter_skill_path(@skill.fighter_id, @skill.id) %> |
<%= link_to 'Back', fighter_path(@skill.fighter_id, @skill.id) %>
