<%= simple_form_for(@fight) do |f| %>
  <%= f.error_notification %>
  <br>
  
  <div class="form-inputs">
    <%= f.label "Select the first fighter", class: 'form-inputs' %>
    <%= f.collection_select(:fighter1_id, Fighter.all, :id, :first_name) %>
  </div>

  <div class="form-inputs">
    <%= f.label "Select the second fighter", class: 'form-inputs' %>
    <%= f.collection_select(:fighter2_id, Fighter.all, :id, :first_name) %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

